* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root{
    --color-neutral-green:#A3C29A;
    --color-neutral-d_green:#8D8377;
    --color-neutral-pink:#E49A92;
    --color-neutral-white:#F5F5F5;

    /* Configurações de Fontes */
    --font-family: "marcellus sc";
    --font-headline-1-size: 64px;
    --font-headline-2-size: 36px;
    --font-headline-2-weight: 600;
    --font-headline-4-size: 20px;
    --font-body2-weight-regular: 400;
    --font-body3-size: 14px;
}

h2{
    color:var(--color-neutral-d_green);
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-2-weight);
}

p{
    color:var(--color-neutral-white);
}
