@import url('./global.css');

body{
    background-color: var(--color-neutral-green);
}

.titulo{
    display: flex;
    flex-direction:column;
    overflow-wrap: break-word;
    margin-left:54px;
    margin-top:216px;
    font-size:20px;
}
