@import url('./global.css');

body{
    background-color: var(--color-neutral-green);
    width:1317px;
    height:775px;
}

.container-global{
    display:flex;
    flex-direction:column;
}

.titulo{
    display: flex;
    flex-direction:column;
    overflow-wrap: break-word;
    margin-left:54px;
    margin-top:216px;
    font-size:20px;
}

.portal-login{
    display:flex;
    flex-direction:column;
    align-content:flex-end;
}

.card-portal{
    background-color:var(--color-neutral-dark_green);
    display:flex;
    width:452px;
    height:456px;
    align-self:end;

}

.class-senha{
    display:flex;
    flex-direction:row;
}
.class-login{
    display:flex;
    
}

.container-login{
    background-color:var(--color-neutral-dark_green);
    display:flex;
    width:452px;
    height:456px;
    align-self:end;

}
